{% trans_default_domain 'FOSUserBundle' %}
<div style="margin-top: 2cm;">
{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
    {{ form_widget(form) }}
    <div>
        <input type="submit" value="{{ 'registration.submit'|trans }}" />
    </div>
{{ form_end(form) }}
<div class="templatemo_footer"  style="background-color: #e1dbdb">
        >
    <div class="container">
        <div class="col-xs-6 col-sm-6 col-md-3 templatemo_col12">
            <h2>About Smoothy</h2>
            <p>Etiam faucibus turpis id ipsum egestas porta. Cras in aliquet purus, ac varius turpis. Proin nibh mauris, lacinia at tincidunt egestas, tincidunt eleifend urna. Aliquam erat volutpat.</p>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-3 templatemo_col12">
            <h2>Services</h2>
            <ul>
                <li>Integer condimentum</li>
                <li>Quisque eget mi felis</li>
                <li>Mauris placerat lacinia</li>
                <li>Cras molestie imperdiet</li>
                <li>Duis vel consectetur</li>
            </ul>
            <div class="clear"></div>
            <div class="templatemo_morelink"><a href="#">and more... </a></div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-3 templatemo_col12">
            <h2>Flicker</h2>
            <div id="templatemo_flicker" >
                <ul class="nobullet footer_gallery">
                    <li><a href="images/flicker/1.jpg" data-rel="lightbox[gallery]"><img src="images/flicker/s1.jpg" alt="image 1" /></a></li>
                    <li><a href="images/flicker/2.jpg" data-rel="lightbox[gallery]"><img src="images/flicker/s2.jpg" alt="image 2" /></a></li>
                    <li><a href="images/flicker/3.jpg" data-rel="lightbox[gallery]"><img src="images/flicker/s3.jpg" alt="image 3" /></a></li>
                    <li><a href="images/flicker/4.jpg" data-rel="lightbox[gallery]"><img src="images/flicker/s4.jpg" alt="image 4" /></a></li>
                    <li><a href="images/flicker/5.jpg" data-rel="lightbox[gallery]"><img src="images/flicker/s5.jpg" alt="image 5" /></a></li>
                    <li><a href="images/flicker/6.jpg" data-rel="lightbox[gallery]"><img src="images/flicker/s6.jpg" alt="image 6" /></a></li>
                    <li><a href="images/flicker/7.jpg" data-rel="lightbox[gallery]"><img src="images/flicker/s7.jpg" alt="image 7" /></a></li>
                    <li><a href="images/flicker/8.jpg" data-rel="lightbox[gallery]"><img src="images/flicker/s8.jpg" alt="image 8" /></a></li>
                </ul>
                <br style="clear: left" />
            </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-3 templatemo_col12">
            <h2>Contact</h2>
            <span class="left col-xs-1 fa fa-map-marker"></span>
            <span class="right col-xs-11">120-240 Nam bibendum consectetur diam et fringilla</span>
            <div class="clear height10"></div>
            <span class="left col-xs-1 fa fa-phone"></span>
            <span class="right col-xs-11">010-020-0680</span>
            <div class="clear height10"></div>
            <span class="left col-xs-1 fa fa-envelope"></span>
            <span class="right col-xs-11">contact@company.com</span>
            <div class="clear height10"></div>
            <span class="left col-xs-1 fa fa-globe"></span>
            <span class="right col-xs-11">www.company.com</span>
            <div class="clear"></div>
        </div>
    </div>
</div>
</div>